DATABASE_URL=
MYSQL_HOST=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DB=

JWT_SECRET_KEY=
SECRET_KEY=

TENCENTCLOUD_SECRET_ID=
TENCENTCLOUD_SECRET_KEY=
SMS_SDK_APP_ID=
SIGN_NAME=
TEMPLATE_ID=

EMAIL_SMTP=
EMAIL_ACCOUNT=
EMAIL_PASSWORD=

OPENAI_API_KEY=
